<div class="container">
    <div class="row mt-5">
        <div class="col-4 offset-4 mb-5">
            <form #cropDetails="ngForm" novalidate (ngSubmit)="onSubmit(cropDetails.value)">
                <h4>Place a sell Request</h4>
                <hr>
                <div class="form-group mb-2">
                    <label for="crop_type">Crop Type </label><br>
                    <input #crop_type="ngModel" required type="text" name="crop_type" class="form-control" placeholder="Enter crop type" ngModel>
                </div>
            
                <div class="form-group mb-2">
                    <label for="crop_name">Crop Name </label><br>
                    <input #crop_name="ngModel" type="text" required name="crop_name" class="form-control" placeholder="Enter crop name" ngModel>
                   
                </div>
            
                <div class="form-group mb-2">
                    <label for="fertilizer_type">Fertilizer Type </label><br>
                    <input #fertilizer_type="ngModel" type="text" required name="fertilizer_type" class="form-control" placeholder="Enter Fertilizer type" ngModel>
                   
                </div>
                <div class="form-group mb-2">
                    <label for="quantity">quantity in Quintal </label><br>
                    <input #quantity="ngModel" type="number" required name="quantity" class="form-control" placeholder="Enter Quntity" ngModel>
                   
                </div>
                <div class="form-group mb-2">
                    <label for="msp">MSP </label><br>
                    <input #msp="ngModel" type="text" required name="number" class="form-control" placeholder="Enter MSP" ngModel>
                   
                </div>
            
                <div class="form-group mb-3">
                    <label for="soil_ph_certificate">Soil pH Certificate </label><br>
                    <input #soil_ph_certificate="ngModel" type="file" required name="soil_ph_certificate" class="form-control" ngModel>
                   
                </div>
            
                
                <input class="btn btn btn-success" type="submit" value="submit">
            </form>
        </div>
    </div>
</div>
